@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap");
:root {
  --primary-color: #f1356d;
  --font-color: #333;
  --border-color: #f2f2f2;
  --shadow: inset 2px 2px 2px rgba(187, 187, 187, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  color: var(--font-color);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}
.navbar h1 {
  color: var(--primary-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--primary-color);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/* blog */
.blog-preview {
  width: 80%;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
  border-bottom: 1px solid var(--border-color);
}
.blog-preview:hover {
  box-shadow: var(--shadow);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Not Found Page */
.not-found h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.not-found p {
  margin: 20px 0;
}
.not-found a {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}
.not-found a:hover {
  opacity: 0.6;
}
